body{
    background: #d3c5c7;
}

form div {
    margin-bottom: 10px;
}

label {
    display: inline-block;
    width: 100px; /* Adjust label width for alignment */
}

input {
    width: 250px; /* Set equal width for all input fields */
    padding: 5px;
    box-sizing: border-box;
}

